td, th {
	border: 1px solid;
  color: black;
  font-family: Fantasy;
  text-align: center;
 
  }


.titlename{
  background-color: black;
  font-family: Times New Roman;
  color:white;
  text-align: center;
}

.earth{
  width:100px;
  height:100px;
}

.mars{
  width:100px;
  height:100px;
} 